
	<!-- [ navigation menu ] start -->
	



	<nav class="pcoded-navbar menupos-fixed menu-light ">
		<div class="navbar-wrapper  ">



			<div class="navbar-content scroll-div " >
				<ul class="nav pcoded-inner-navbar ">
					<li class="nav-item pcoded-menu-caption">
						<label>Navigation</label>
					</li>
					<li class="nav-item">
					    <a href="achat_users.html" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-home"></i></span><span class="pcoded-mtext">ACCUEIL</span></a>
					</li>
				
					</li>



					

					<li class="nav-item pcoded-menu-caption">
						<label>Création de Demande</label>
					</li>

					
					
					<li class="nav-item">
					    <a href="/add_demande.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-edit"></i></span><span class="pcoded-mtext">Créer Demande</span></a>
					</li>

					<li class="nav-item pcoded-menu-caption">
						<label>Gestion des Demandes</label>
					</li>

					
					
					<li class="nav-item">
					    <a href="/list_demande_users.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-server"></i></span><span class="pcoded-mtext">Mes Demandes</span></a>
					</li>
					<!--li class="nav-item">
					    <a href="/map-google.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-map"></i></span><span class="pcoded-mtext">Maps</span></a>
					</li-->
					<!--li class="nav-item pcoded-menu-caption">
						<label>Pages</label>
					</li>
					<li class="nav-item pcoded-hasmenu">
					    <a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-lock"></i></span><span class="pcoded-mtext">Authentication</span></a>
					    <ul class="pcoded-submenu">
					        <li><a href="/auth-signup.html">Sign up (template)</a></li>
					        <li><a href="/auth-signin.html">Sign in (template)</a></li>
					    </ul>
					</li>
					<li class="nav-item"><a href="/sample-page.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-sidebar"></i></span><span class="pcoded-mtext">Sample page</span></a></li-->

					<li class="nav-item pcoded-menu-caption">
						<label>Session</label>
					</li>
					<li class="nav-item">
					    <a href="{% url 'logout' %}" 
						   class="nav-link "><span class="pcoded-micon">
						   <i class="feather icon-log-out"></i></span><span class="pcoded-mtext">Deconnecter</span></a>
					</li>
					

				</ul>
				
				
				
			</div>
		</div>
	</nav>
    <!-- [ navigation menu ] end -->
