{% extends "layouts/base_mag.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-content">
            
            <div class="row">
                <!-- order-card start -->
                <div class="col-md-6 col-xl-3" onclick='location.href="reception.html";' style="cursor: pointer;">
                    <div class="card bg-c-green order-card">
                        <div class="card-body">
                            <h6 class="text-white">RECEPTION</h6>
                            <h2 class="text-right text-white"><i class="feather icon-shopping-cart float-left"></i><span>0</span></h2>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3" onclick='location.href="";' style="cursor: pointer;">
                    <div class="card bg-c-green order-card">
                        <div class="card-body">
                            <h6 class="text-white">SORTIE PROD</h6>
                            <h2 class="text-right text-white"><i class="feather icon-refresh-cw float-left"></i><span>0</span></h2>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3" onclick='location.href="";' style="cursor: pointer;">
                    <div class="card bg-c-yellow order-card">
                        <div class="card-body">
                            <h6 class="text-white">ENTREE DIRECTE</h6>
                            <h2 class="text-right text-white"><i class="feather icon-download float-left"></i><span>0</span></h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3"onclick='location.href="sortie_directe.html";' style="cursor: pointer;">
                    <div class="card bg-c-red order-card">
                        <div class="card-body">
                            <h6 class="text-white">SORTIE DIRECTE</h6>
                            <h2 class="text-right text-white"><i class="feather icon-external-link float-left"></i><span>{{sortie_directe_count}}</span></h2>
                           
                        </div>
                    </div>
                </div>
                
                <!-- Customer overview end -->
            </div>
            <!-- [ Main Content ] end -->
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <!-- Apex Chart -->
    <script src="/static/assets/js/plugins/apexcharts.min.js"></script>
    <!-- custom-chart js -->
    <script src="/static/assets/js/pages/dashboard-main.js"></script>

{% endblock javascripts %}
